body {
    background-color: rgb(240, 240, 240);
}

.ui.form .fields {
    margin: 0px;
}

.ui.menu.fixed {
    z-index: 900;
}

.ui.dropdown .menu {
    z-index: 900;
}

.main-list {
    padding: 10px 10px 30px 10px !important;
    height: 100vh;
    overflow-Y: scroll;
}

.main-list--short {
    padding: 10px!important;
    height: 65vh;
    overflow-Y: scroll;
}

.stop {
    padding-bottom: 30px !important;
    min-width: 282px;
}


.main-list__item {
    padding: 2px 5px 2px 5px;
}

.main-list__item--active {
    background-color: rgb(136, 200, 202);
    padding: 2px 5px 2px 5px;
}

.leaflet-container {
    width: 100%;
    height: 93vh;
}